
<% provide(:title, "About") %>


  <h1>About Bikes on Rails</h1>

  <p>The code for this web application can be found...
    <a href="https://github.com/msanto7/bikesOnRails">Here</a>
  </p>

  <p> This Bikes on Rails application was created with the intention of helping bike riders and people looking to get into riding bikes. Picking which bike is for you can be a daunting task with all of the options today. But with the help of this application you can talk to various levels of bike riders and get an idea of what will be a good fit for you.
  </p>
